.login-background-img {
    position: absolute;
    left: -5.5vw;
    height: 95vh;
    z-index: 0;
}

.login-twitter-logo {
    font-size: 40vh;
    color: white;
    position: absolute;
    top: 20vh;
    left: 17vw;
    z-index: 1;
}

.login-main-background {
    top: 0;
    right: 0;
    padding-left: 2vw;
    position: absolute;
    display: table;
    background-color: white;
    height: 100vh;
    width: 45vw;
    z-index: 2;
}

.login-main{
    margin-top: 30%;
}

.twitter-title-log {
    color: #1da0f2;
    font-size: 2.5vw;
    margin-bottom: 3vh;
}

.login-title {
    margin-bottom: 3vh;
    font-size: 3.5vw;
    font-weight: bold;
}

.login-subtitle {
    margin-bottom: 4vh;
    font-size: 1.7vw;
    font-weight: bold;
}

.login-main button {
    display: block;
    margin-top: 2vh;
    font-size: 0.8vw;
    font-weight: bold;
    width: 20vw;
    height: 5vh;
    border-radius: 5vh;
    border-color: #1da0f2;
    border-style: solid;
    outline: 0;
    cursor: pointer;
}

.sign-btn {
    background-color: #1da0f2;
    color: white;
}
.sign-btn:hover {
    background-color: #1985c9;
}

.login-btn {
    background-color: white;
    color: #1da0f2;
}

.login-btn:hover {
    background-color: #1da0f227;
}

.login-footer {
    position: absolute;
    bottom: 0;
    height: 5vh;
    width: 100vw;
    font-size: 1.5vh;
    color: gray;
    background-color: white;
    text-align: center;
    z-index: 4;
}