.site-main-layout {
  background-color:white;
}

.site-content-layout {
  background-color: white;
  border-right-color: lightgray;
  border-right-style: solid;
  border-right-width: thin;
  margin-left: 35vw;
  margin-right: 25vw;
  min-height: 100vh;
}

.site-sider {
  border-right-color: lightgray;
  border-right-style: solid;
  border-right-width: thin;
  margin-left: 20vw;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.contents {
  min-height: 95vh;
}

footer {
  background-color: #00000010;
  height: 5vh;
  padding-top: 15px;
  text-align: center;
}