.navbar-menu {
    padding: 10px;
}

.navbar {
    line-height: 2vw;
    font-size: 1.3vw;
    font-weight: bold;
    padding: 5px;
    padding-bottom: 0px;
    text-align: left;
    color: black;
}

.navbar:hover {
    color: #1da0f2;
}

.navbar-menu .btn {
    background-color: white;
}

.navbar-menu .btn:hover {
    background-color: #1da0f227;
}

.btn {
    display: block;
    border-style: none;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    cursor: pointer;
}

.btn-tweet {
    background-color: #1da0f2;
    color: white;
    font-size: 1.1vw;
    font-weight: bold;
    border-style: none;
    border-radius: 40px;
    padding: 0.5vw;
    width: 13vw;
    outline: 0;
    cursor: pointer;
}

.btn-tweet:hover {
    background-color: #1985c9;
}

.btn-profile {
    background-color: white;
    position: absolute;
    bottom: 10px;
    left: 0px;
    border-style: none;
    border-radius: 1.75vw;
    width: 14.5vw;
    height: 3.5vw;
    outline: 0;
    cursor: pointer;
}

.btn-profile:hover {
    background-color: #1da0f227;
}

.btn-profile-name {
    font-size: 0.8vw;
    text-align: left;
    margin-left: 0.5vw;
    margin-right: 1vw;
    vertical-align: middle;
    display:inline-block;
}